appnope==0.1.0
astroid==1.4.4
colorama==0.3.6
decorator==4.0.6
flake8==2.5.2
gnureadline==6.3.3
ipykernel==4.2.2
ipython==4.0.3
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
lazy-object-proxy==1.2.1
MarkupSafe==0.23
mccabe==0.4.0
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.1.0
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5
pyflakes==1.0.0
Pygments==2.1
pylint==1.5.4
pyzmq==15.2.0
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
tornado==4.3
traitlets==4.1.0
wrapt==1.10.6
